body{
    background-image: url('image2.png');
    display: grid;
    color: white;
    font-size: 28px;
    justify-content: center;
}

.submit{
    position: relative;
    display: grid;
    justify-content: center;
    width: 50%;
    height: 2.5em;
    font-size: 24px;
    background-color: greenyellow;
    /* border: none; */
    box-shadow: 5px 2px 2px 5px rgb(115, 175, 18);
    border-radius: 6px;
    top:10em;
    left:10em;
}